.appHeader {
  width: 100%;
  height: 25vh;
  border: 1px solid red;
}
.userInfo {
  width: 100%;
  height: 100%;
  border: 1px solid red;
}
.searchBox {
  width: 100%;
  height: 10vh;
  border: 1px solid red;
  display: flex;
  padding: 0 10px;
  background-color: #f1f1f1;
}
.searchBox > input {
  border: none;
  outline: none;
  width: 100%;
  padding: 10px;
  height: 100%;
  background-color: #f1f1f1;
  font-size: 20px;
}
.userList {
  width: 100%;
  height: 15vh;
  overflow-x: hidden;
}

.userItem {
  width: 100%;
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid red;
  padding: 10px;
  margin: 0 auto;
}
.userImg {
  width: 60px;
  height: 60px;
  border: 1px solid;
  margin: 0;
  margin-left: 0;
}
.userText {
  margin-left: 15px;
  max-width: 650px;
  height: 100%;
}
.userText > p {
  height: 50%;
  border: 1px solid red;
  display: flex;
  align-items: center;
}
.userText > h3 {
  height: 50%;
  border: 1px solid red;
}
.userCardPrice {
  width: 150px;
  height: 60px;
  border: 1px solid red;
  margin-right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
