.appBox{
    width: 100%;
    height: 100vh;
    border: 1px solid red;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.app{
    width: 70%;
    height: 100vh;
    border: 1px solid red;
}
.appCheck{
    width: 30%;
    height: 100%;
    border: 1px solid red;
}